<div class="nav-menu">
    <div class="logo">
        <h1><a href="/">Instagram</a></h1>
    </div>
    <div class="links">
        <div class="link">
            <a href="/">
                <i class="fa fas fa-home"></i>
                Home
            </a>
        </div>
        <div class="link">
            <a href="/Search">
                <i class="fa fas fa-search"></i>
                Search
            </a>
        </div>
        <div class="link">
            <a href="/Explore">
                <i class="fa far fa-compass"></i>
                Explore
            </a>
        </div>
        <div class="link">
            <a href="/Reels">
                <i class="fa fas fa-video"></i>
                Reels
            </a>
        </div>
        <div class="link">
            <a href="/Messages">
                <i class="fa fas fa-comment"></i>
                Messages
            </a>
        </div>
        <div class="link">
            <a href="/Notifications">
                <i class="fa far fa-heart"></i>
                Notifications
            </a>
        </div>
        <div class="link">
            <a href="/Create">
                <i class="fa fa-plus-square"></i>
                Create
            </a>
        </div>
        <div class="link">
            <a href="/profile">
                <i class="fa fas fa-user-circle"></i>
                Profile
            </a>
        </div>
    </div>
    <div class="more-menu">
        <div class="link">
            <a href="">
                <i class="fa fa-bars"></i>
                More
            </a>
        </div>
    </div>
</div>
